.tree-container:focus {
	outline: none;
}

.menu-item {
	cursor: pointer;
}

.selected-node {
	background-color: #00aaf9;
	cursor: pointer;
	border-radius: 3px;
	padding-top: 3px;
	padding-bottom: 3px;	
}

.selected-node-text {
	color: #ffffff;
}

.node-icon {
	background-repeat: no-repeat;
	background-position: 0 50%;
}
.node-closed {
	background-image: url(../images/closed-node.png);
	padding-right: 15px;
}
.node-opened {
	background-image: url(../images/opened-node.png);
	padding-right: 15px;
}
.node-non-expandable {
	padding-right: 15px;
}
.node-item {
	background-image: url(../images/item.png);
	padding-right: 25px;	
}
.node-folder {
	background-image: url(../images/folder.png);
	padding-right: 25px;
}
.node-name {
	margin-right: 10px;
}

.node-div {
	padding-left: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.node-li {
	list-style: none;
}

.node-ul {
	padding-left: 15px;
}

.node-hover {
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.node-text {
	background-color: #f0f0f0;
	cursor: pointer;
	border-radius: 3px;
	white-space: nowrap;
}

.menu-caret-div {
	border-left: 1px solid;
	border-color: #ffffff;
	width: 25px;
	text-align: center;
	padding-right: 3px;
}